/*
	Grant Yuzon Hughes
	ID: 1233759
	CSE 154 AL
	HW #7 (ascii.css)
	5/21/2014

	This homework contains extra feature 2.
	This page styles ascii.html.
*/

body {
	background-color: #CCCCFF;
	font: sans-serif;
	font-size: 14pt;
	font-weight: bold;
}

h1 {
	font-size: 32pt;
	text-align: center;
	margin: 0px;
}

textarea {
	margin-right: 5%;
	margin-left: 5%;
	width: 90%;
	height: 400px;
	font: monospace;
	font-size: 12pt;

}

#controls {
	text-align: center;
}

fieldset {
	border: 5px solid black;
	border-radius: 10px;
	display: inline;
	vertical-align: top;
}

legend {
	text-align: left;
}

#w3c {
	text-align: right;
}